--- 
layout: default
title: Blog
categories: 
- blog 
---
<div class="bigspacer"></div>

{% for post in site.categories.blog %}
{% cycle 'add rows': '<div class="row">', nil, nil %}
  <div class="col-md-4">
    <div class="itembox">
      <div class="smallhead">
        <i class="fa fa-file-text-o fa-lg"></i>
        <a href="{{ post.url }}">
          <span class="h4">{{ post.title }}</span>
        </a>
      </div>
      <div class="smlspacer"></div>
      <div class="smallnote">
        {{ post.date | date_to_string }} {% if post.author %} by
        <a href="/about/">{{ post.author }}</a>
        {% endif %}
      </div>
    </div>
  </div>
{% cycle 'close rows': nil, nil, '</div><div class="smlspacer"></div>' %} 
{% endfor %} 
{% cycle 'close rows': nil, '</div><div class="bigspacer"></div>', '</div><div class="bigspacer"></div>' %}
<a href="/atom.xml" title="RSS Feed" class="tweetbutton">
  <i class="fa fa-rss fa-2x"></i>
</a>